.tab-content {
    padding: 100px 50px;
    font-size: 30px;
    text-align: center;
    background-color: #d6d6d6;
}

.tab-content--vertical {
    height: 100%;
    padding: 100px 50px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    background-color: #d6d6d6;
}
